
*,*::after,*::before{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #24272B;
}

body::-webkit-scrollbar-thumb {
    background-color: #2176FF;
    border: 3px solid #24272B;
    border-radius: 20px;
    height: 20px;
}

.typing_animation{
    color: #2176FF;
    font-size: 3rem;
    user-select: none;
}


.header_on{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    background-color: rgba(36, 39, 43, 0.90);
}


.carousel{
    width: 100%;
    height: 100%;
}


.info_title{
    color: #f3f3f3;
    font-size: 3rem;
    user-select: none;
    text-align: center;
    font-weight: bold;
}

@media only screen and (min-width: 550px) and (max-width: 800px){
    .typing_animation{
        font-size: 2rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 550px){
    .typing_animation{
        font-size: 1.4rem;
    }
}